.chat-header
  .contact-info
    .avatar
      img(src="https://i.pravatar.cc/48?u=friend1" alt="Avatar")
    .info
      h3 Lan Anh
      p.status Đang hoạt động

  .chat-actions
    i.fas.fa-phone
    i.fas.fa-video
    i.fas.fa-info-circle