div(class="header")
  div(class="header-left")
    div(class="logo") Linkup
    form(
      method="GET",
      form-search
    )
      input(type="text" placeholder="Tìm kiếm trên Linkup")

  div(class="header-center")
    div(class="menu-item active") 🏠
    div(class="menu-item") 👥
    div(class="menu-item") 🎥
    div(class="menu-item") 🛒

  div(class="header-right")
    div(class="icon") ☰
    div(class="icon") 💬
    div(class="icon") 🔔
    div(class="icon")
      a(
        class="icon"
        href="/user/logout"
      ) ↩ 
    div(class="avatar")