.sidebar
    .sidebar-top
        h5.text-white.mb-3 Tin nhắn

        input.form-control.search(type="text" placeholder="Tìm kiếm...")

        .filter.mt-3
            button.btn.btn-primary.btn-sm Tất cả
            button.btn.btn-dark.btn-sm Chưa đọc
            button.btn.btn-dark.btn-sm Nhóm

    .recent.mt-4
        //- each item in friend
        //-     .chat-item(class=item.active ? "active" : "")
        //-         img.avatar(src=item.avatar)
        //-         .info
        //-         .name= item.username
        //-         //- .last= item.lastMessage
        //-         //- .time= item.time