div(class="sidebar")
  h3 Bạn bè

  ul
    li(
        menu-item
    )
        a(href="/home") Trang chủ
    li(
        menu-item
    )
        a(
            href="/friend/request-friend"
        ) 
            | Lời mời đã gửi
            span(
                class="badge badge-light"
                data-badge-users-request=Myuser._id
            ) #{Myuser.requestFriends.length}
    li(
        menu-item
    )
        a(href="/friend/accept-friend") Lời mời kết bạn
    li(
        menu-item
    )
        a(href="/friend/no-friend") Gợi ý

    li(
        menu-item
    )
        a(href="/friend/all-friends") Tất cả bạn bè

    li(
        menu-item
    )
        a(href="/custom-list") Danh sách tùy chỉnh
    script(src="/JS/sidebar.js") 