extends ../layout/chat-default.pug

block main
    .chat-area
        .chat-header
            .avatar-wrap
                .avatar.av-purple(style="width:40px;height:40px") X
                .online-dot
            .chat-user-info
                each item in myRoom 
                    if(roomChat._id.toString() == item._id.toString())
                        h2 #{item.infoFriend.userName}
                    else 
                        h2 #{roomChat.title}
                span Đang hoạt động

        div(
            class="messages"
            id="messages"
        )
            div(class="msg-row")
                div(class="msg-avatar av-purple") X
                div(class="bubble in") Ok rồi nhé

            div(class="msg-row out")
                div(class="bubble out") Lô

        .chat-input
            button.input-btn 🎤
            button.input-btn 🖼️
            button.input-btn 🙂
            button.input-btn(style="font-size:13px;font-weight:700") GIF

            .input-field-wrap
                input#msgInput(type="text" placeholder="Aa" onkeydown="sendOnEnter(event)")
                span.emoji-btn(onclick="addEmoji()") 😊

            button.input-btn.like-btn(onclick="sendLike()") 👍